exportPattern("^[[:alpha:]]+")
  importFrom("grDevices", "rainbow")
  importFrom("stats", "coef", "gaussian", "glm", "qf", "residuals",
             "rnorm")
  importFrom("utils", "combn")
  import("ggplot2","mvtnorm","survival","stats")
